<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Vue</title>
</head>

<body>

  <div class="container" id="app">
    <div class="card">
      <h1>{{ title }}</h1>
      <div class="form-control">
        <input 
          v-on:input="inputChange" 
          v-bind:value="inputValue" 
          v-bind:placeholder="placeholder" 
          v-on:keypress.enter="clickBtn"
          type="text"
        />
      </div>
      <h2>Итог = "{{ inputValue }}"</h2>
      <button @click="clickBtn" class="btn">Добавить</button>
      <hr>
      <ul class="list" v-if="notes.length !== 0">
        <li class="list-item" v-for="(note, index) in notes" :key="note">
          ({{ index }}) {{ note }}
          <button v-on:click="removeNote(index)" class="btn danger">Удалить</button>
        </li>
      </ul>
      <div class="" v-else-if="notes.length === 0">Заметок пока нет. Следует добавить</div>
    </div>
  </div>


  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>

</html>